/*code source: https://www.youtube.com/watch?v=V0cd7i4aCb8&t=406s*/

*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a {
    box-sizing:  border-box;

} 

/*css reset*/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


